.container
  .row
    .text-center
      button type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#my_modal' New Post
  #my_counter=@posts.count

  .row
    .text-center#my_posts
      =render @posts
/ Modal
.modal.fade#my_modal
  .modal-dialog
    .modal-content
      .modal-header
        This is modal header
      .modal-body
        =simple_form_for(@post, remote: true) do |f|
          =f.input :title, class: 'post_title'
          =f.input :content, class: 'post_content'
          =f.submit
      .modal-footer
        button type='button' class='btn btn-default' data-dismiss='modal' Close
      /<div class="modal-content">
        /<div class="modal-header">
          /<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          /<h4 class="modal-title">Modal title</h4>
        /</div>
        /<div class="modal-body">
          /<p>One fine body&hellip;</p>
        /</div>
        /<div class="modal-footer">
          /<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          /<button type="button" class="btn btn-primary">Save changes</button>
        /</div>
      /</div><!-- /.modal-content -->
    /</div><!-- /.modal-dialog -->
  /</div><!-- /.modal -->


